################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/LESI_PW_Lab1_26052_SOAP2.csproj.user
